<h3>Local Events</h3>
{{#each items}}
    <div class="row">
        <div class="col-md-1 col-lg-1">
            <img src="{{this._creator.facebook.photos.0.value}}" class="avatar wz-media-round"> 
        </div>
        <div class="col-md-4 col-lg-4">      
          <h3>{{this.name}}</h3>
          <p>{{this.description}}</p>
          {{#each this.items}}
            <div class="text-center" style="display:inline-block;border:1px solid #ccc; border-radius:4px;height:64px;width:64px;padding:10px;">
                <small>{{this.name}}</small>
                <small>{{this.name}}</small>
            </div>
        {{/each}}
        </div>
        
    </div>
    
    
{{else}}
  <h4>Aww, it looks like there aren't any events. Be a trend setter and create one!</h4>
{{/each}}
